body{
    margin: 0;
color: #82a5ca;
background-image: url('galaxy.webp');
background-size: cover;
text-align: center;
font-weight: bold;
font-size: xx-large;
font-family: 'Orbitron', sans-serif;
}
 
.btn{
font-family: 'Orbitron', sans-serif;
padding: 6px 12px;
border: none;
color: #82a5ca;
font-weight: bold;
}

.cta{
    border-bottom: 4px solid white;
}

#logo{
    width: 100px;
    height: 100px;
}

#hero{
    background-image: url('galaxy.webp');
background-size: cover;
padding:10px 0 40px 0; 
}

